; {{ ansible_managed }}

[barman]
barman_home = {{barman_home}}
barman_user = {{barman_user}}
log_file = {{barman_log_file}}
log_level = {{barman_log_level}}
compression = {{barman_compression}}

{% for server in barman_upstreams %}
[{{server.name}}]
description = "{{server.name}}"
ssh_command = ssh {{server.ssh_user | default('postgres')}}@{{server.hostname}}
conninfo = "user={{server.postgres_user | default('postgres')}} host={{server.hostname}} password={{server.postgres_user | default('postgres')}}"
retention_policy_mode = "auto"
retention_policy = "{{server.retention_policy | default('recovery window of 1 day')}}"
{% endfor %}

; vim:filetype=dosini
